$learn-color: #347976;
$practice-color: #A83522;
$main-font: 'Montserrat', sans-serif;

// Main Section
$vertical-padding: 90px;
$horizontal-padding: 125px;

// Pages
$pages-horizontal-padding: 125px;
$pages-vertical-padding: 25px;

// QButton
$green-button-color: #1C981A;
$orange-button-color: #94731E;
$glow-button-color: #FAB811;
$blue-button-color: #1A7A98;

// Steps
$step-text-color: #269D56;
$step-task-color: #609B32;
